.u-section-1 .u-sheet-1 {
  min-height: 11px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 79px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0 406px;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 12px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 193px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 122px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-4 .u-text-1 {
  width: 383px;
  margin: 53px auto 0;
}

.u-section-4 .u-image-1 {
  width: 159px;
  height: 159px;
  margin: 94px auto 0 389px;
}

.u-section-4 .u-image-2 {
  width: 155px;
  height: 155px;
  margin: -159px 403px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  width: 383px;
  margin: 126px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 381px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 385px;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 98px;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 181px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 185px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}